html, body {
  width: 100%;
  height: calc(100vh - 20px);
  min-width: 1000px;
  margin: 0;
  background: #fff;
  color: #1b1b1b;
  font-size: 16px;
  font-family: Verdana;
}

input[type="text"], input[type="password"] {
  border: none;
  border-bottom: solid 1px #ccc;
  background: transparent;
  color: #1b1b1b;
  font-size: 16px;
  outline: none;
}

input[type="text"]:focus, textarea:focus {
  border-color: #ccc;
  box-shadow: inset 0 1px 2px rgb(0 0 0 / .075), 0 0px 5px rgb(128 128 128 / .5);
}

input:-webkit-autofill {
  -webkit-transition: all 86400s;
  transition: all 86400s;
}

textarea {
  border: solid 1px #ccc;
  border-radius: 3px;
  outline: none;
  background: transparent;
  padding: 4px;
  color: #1b1b1b;
  font-size: 16px;
  font-family: Consolas, Monaco, Menlo, monospace, sans-serif;
}

select {
  height: 24px;
  border: solid 1px #ccc;
  border-radius: 6px;
  outline: none;
  font-size: 14px;
}

pre {
  margin: 0;
  padding: 0;
  font-family: Consolas, Monaco, Menlo, monospace, sans-serif;
}

button, input[type="button"], input[type="submit"] {
  height: 24px;
  min-width: 64px;
  border: none;
  border-radius: 4px;
  outline: none;
  color: #242350;
  background: #ededed;
  font-size: 14px;
  transition: all 0.2s ease;
}

button:hover, input[type="button"]:hover, input[type="submit"]:hover {
  cursor: pointer;
  background: #0af;
  color: #fff;
  transition: all 0.2s ease;
}

.button-small {
  height: 18px;
  min-width: 40px;
  padding: 1px 8px;
  font-size: 12px;
}

.button-large {
  height: 28px;
  min-width: 64px;
  font-size: 16px;
}

.button-blue {
  color: #fff;
  background: #097bed;
}

.button-active {
  color: #fff;
  background: #097bed;
}

#header-line {
  position: relative;
  display: table;
  width: calc(100% - 4px);
  height: 46px;
  background: #333;
  color: #fff;
  padding: 2px;
  margin-bottom: 4px;
}

#header-content {
  position: relative;
  display: table-cell;
  vertical-align: middle;
}

#title {
  color: #fff;
}

#api {
  color: #F690FF;
}

#url-info {
  color: #ccc;
  font-size: 14px;
}

#url {
  margin-left: 4px;
  color: #8CD4FF;
  font-family: Consolas, Monaco, Menlo, monospace, sans-serif;
}

#clock {
  position: absolute;
  right: 10px;
  color: #dedede;
  font-family: Consolas, Monaco, Menlo, monospace, sans-serif;
}

#content-wrapper {
  padding: 0 8px;
}

#status-code {
  width: 50px;
}

#data-area {
  width: calc(100vw - 34px);
  height: calc(100vh - 250px);
}

#console-area {
  width: 100%;
  height: 100px;
  margin-bottom: 16px;
}

#log-console {
  width: 100%;
  height: 100%;
  border: solid 1px #ccc;
  border-radius: 4px;
  background: #3e3e3e;
  color: #ccc;
  font-size: 14px;
  font-family: Consolas, Monaco, Menlo, monospace, sans-serif;
}

.status-ok {
  color: #12c620;
}

.status-err {
  color: #cb9273;
}

#data-header-wrappeer {
  width: 100%;
  height: 25%;
}

#data-header {
  width: 100%;
  height: 100%;
  resize: none;
}

#data-body-wrappeer {
  width: 100%;
  height: calc(70% - 58px);
}

#data-body {
  width: 100%;
  height: 100%;
  resize: none;
}

#textareainfo {
  color: #4e4e4e;
  font-size: 14px;
  font-family: Consolas, Monaco, Menlo, monospace, sans-serif;
}

.item-name {
  color: #70706b;
  font-size: 14px;
}

.log-line:hover {
  width: 100%;
  background: #666;
  cursor: pointer;
}

#detail-log-wrapper {
  width: calc(100% - 10px);
  height: calc(100% - 15px);
}

#detail-log {
  width: 100%;
  height: 100%;
  resize: none;
}

.no-line-break {
  white-space: pre;
  word-break: keep-all;
}
